.hifi {
    max-width: 200px;
}

.headerList {
    float: left;
    list-style: none;
    padding: 21px;
}

nav {
    float: right;
}

a {
    text-decoration: none;
    font-family: Roboto;
}

p {
    float: left;
    padding: 21px;
font-family: Roboto;
}

.second {
    background-color: lightgray;
    width: 100%;
}

.title {
    float: unset;
    padding-left: 10px;
    font-weight: 900;
}

.subtitle {
    font: 900;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personaje {
    display: flex;
    align-items: center;
}

.alejandraContainer {
    display: flex;
    align-items: center;
}

.alejandraImg {
    max-width: 50px;
    /* se utiliza para definir formato en circulo o elipse */
    border-radius: 50%;
}

head {
    display: flex;
    flex-direction: column;
}

a.aaa {
    color: darkblue
}

.bigImgContainer {
    width: 60%;
    display: flex;
    justify-content: center
}

.primeraImg {
    width: 64%;
}

.bigone {
    width: 90%;
    display: flex;
    justify-content: start;
}

.secundimg {
    width: 60%;
    height: 20%;
}

.firstpharagraph {
    font-size: large;
    font-style: normal;
    font-weight: 90;
    width: 70%;
    display: flex;
    justify-content: center;
}

.secundparagraph {
    font-weight: 80;
}

.thirdpharagraph {
    font-weight: 80;
}

.tag {
    justify-content: start;
    text-align: right;
}

.textObj {
    font-weight: 600;
}

.strongContainer {
    width: 60%;
    background-color: beige;
    display: flex;
    padding-left: 20px;
}

.negritaTextContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.negritaText {
    font-weight: bold;
    
    max-height: 20px;
    padding: 0;
}

.leftColor {
    width: 80%;
    border-left: 16px solid blue;
    padding-left: 10px;
}

.imggg {
    max-width: 60%;
}
.textA {
    width: 100%;

}
.codee {
    background-color: beige;
}
.text1 {
   
    padding: 0;
    
}
p {
    padding: 0;
    font-family: Roboto;
}
h1 {
    padding: 0;
    
    margin: 0;
}
xmp {
    
    padding: 0;
    margin: 0;
    
}
.containerFive {
    font-weight: bold;
}
.five {
    background-color: beige;
    padding-bottom: 10px;
}