.hifi {
    max-width: 200px;
}

.firstli {
    float: left;
    list-style: none;
    padding: 21px;
}

.secundli {
    list-style: none;
}

nav {
    float: right;
}

a {
    text-decoration: none;
}

p {
    float: left;
    padding: 21px;
}

.second {
    background-color: lightgray;
    width: 100%;
}

.title {
    float: unset;
    padding-left: 10px;
    font-weight: 900;
}

.subtitle {
    font: 900;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personaje {
    display: flex;
    align-items: center;
}

.alejandraContainer {
    display: flex;
    align-items: center;
}

.alejandraImg {
    max-width: 50px;
    /* se utiliza para definir formato en circulo o elipse */
    border-radius: 50%;
}

head {
    display: flex;
    flex-direction: column;
}

a.aaa {
    color: darkblue
}

.bigImgContainer {
    width: 60%;
    display: flex;
    justify-content: center
}

.primeraImg {
    width: 64%;
}

.bigone {
    width: 90%;
    display: flex;
    justify-content: start;
}

.secundimg {
    width: 60%;
    height: 20%;
}

.firstpharagraph {
    font-size: large;
    font-style: normal;
    font-weight: 90;
    width: 70%;
    display: flex;
    justify-content: center;
}

.secundparagraph {
    font-weight: 80;
}

.thirdpharagraph {
    font-weight: 80;
}

.tag {
    justify-content: start;
    text-align: right;
}

.jjjjj {
    display: flex;
}

.ul {
    width: 100%;
    display: flex;
    list-style: circle;
}